@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* HEADER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}
.navbar > div:last-child {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #2e1a47;
}

.logo-header svg {
  height: 60px;
  width: auto;
}

.navbar img {
  height: 40px;
}
/* HEADER */

header {
  background-color: #f5f1e8;
  padding: 20px 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.logo-header svg {
  height: 50px;
  width: auto;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #2e1a47;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-links li a:hover {
  opacity: 0.7;
}

/* FOOTER */

footer {
  background: #4c5fb7;
  color: white;
  padding: 40px;
}
.footer-section a {
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-logo img {
  height: 50px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-section img {
  height: 16px;
  margin-right: 6px;
  vertical-align: middle;
}
/* PROFIL SIDE */
.profil {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 450px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container h1 {
  margin-bottom: 5px;
}

.subtitle {
  margin-bottom: 30px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 25px;
}

.input-group input {
  width: 100%;
  height: 100%;
  border: none;
  outline: 1.4px solid black;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  background: transparent;
}

.input-group input:focus {
  outline: 2px solid #1976d2;
}

.input-group label {
  position: absolute;
  top: 13px;
  left: 10px;
  font-size: 16px;
  color: rgb(99, 99, 99);
  background: white;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.2s;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  color: #1976d2;
  font-size: 14px;
}

.password-group .toggle {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
}

button[type="submit"] {
  width: 100%;
  margin-top: 30px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #1976d2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button[type="submit"]:hover {
  background-color: #114e8b;
}
.login {
  margin-top: 15px;
  font-size: 14px;
}

.login a {
  color: #3f53b9;
  text-decoration: none;
  font-weight: bold;
}
h1 {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* TABLET */

@media (max-width: 900px) {
  .header-container {
    padding: 0 10px;
  }

  nav {
    gap: 20px;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .footer-section {
    width: 45%;
    margin-top: 20px;
  }
}

/* MOBIL */

@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    gap: 15px;
  }

  nav {
    gap: 15px;
  }

  footer {
    padding: 30px 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 25px;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-section {
    width: 100%;
  }
}
