.hero {
  position: relative;
  text-align: center;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero_h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2b1155;
  font-size: 3rem;
  font-weight: bold;
}

.hero div {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

.white {
  padding: 0.75rem 1.5rem;
  background-color: #fff;
  color: #2b1155;
  border: 2px solid #2b1155;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
}

.white:hover {
  background-color: #d0d8ff;
}

.blue {
  padding: 0.75rem 1.5rem;
  background-color: #3f53b9;
  color: white;
  border: 2px solid #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
}

.blue:hover {
  background-color: #2d3a8c;
}

section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-of-type(2) > div:first-child {
  display: flex;
  justify-content: space-around;
}

section:nth-of-type(2) > div:first-child p {
  font-weight: bold;
  text-align: center;
}

section:nth-of-type(2) > div:last-child {
  display: flex;
  justify-content: space-around;
  width: 80%;
  gap: 1rem;
}

section:nth-of-type(2) > div:last-child img {
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
}

.categories {
  background-color: blanchedalmond;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.categories .container_categories {
  display: flex;
  gap: 2rem;
}

.categories {
  background-color: #f5f1e8;
  font-family: "Bagel Fat One", system-ui;
  font-size: 1.5rem;
  font-style: normal;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.categories a {
  color: #2b1155;
}
